$primary: #6bbdde;
$primary-dark: #438cc5;
$primary-light: #7edef6;
$accent: #313131;
$secondary: #424242;
$info: #c7e5f1;
$warning: #f5c9ad;
$error: #ff5252;
$success: #78d517;
$divider: #f7f7f7;
$text: #969ca7;
$title: #636466;

$app-container-background: #fff;
